<div class="contenidoMensajeria">
  <!--opciones-->
  <div class="opciones">
    <div class="boxBoton">
        <i class="material-icons">chat</i>
        <!--<span class="badge badge-danger2">4</span>-->
    </div>
    <div class="opcionOcultar boxAcciones">
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-info" id="dropdownBasic1" ngbDropdownToggle>Filtrar por estado</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item">Alta</button>
            <button class="dropdown-item">Media</button>
            <button class="dropdown-item">Baja</button>
            </div>
        </div>
    </div>
  
    <div class="opcionOcultar">
        <input type="text" class="form-control" id="" aria-describedby="" placeholder="buscar">
    </div>
 

  </div><!--opciones--> 
  
    <ul class="list-group ">
        <ng-template ngFor let-message [ngForOf]="inboxManager">
            <li class="list-group-item list-group-item-action">
                <a (click)="detalleMensaje(message)" routerLinkActive="active">
                <div class="col ml15">
                    <div class="prioridad">
                        <div class="colorPrioridad amarillo"></div>
                        <span [ngClass]="setClass(message.content_object.attention_request.priority)">{{message.content_object.attention_request.expire_date | differenceDateBtwToday}}</span>
                        <div class="hora">16:50</div>
                    </div>
                    <div class="mensaje">
                        <p class="titulo">{{message.message.short_subject}}</p>
                        <p class="user">{{message.message.who_said}}</p>
                        <div class="texto ">
                            <p class="text-truncate">{{message.message.short_body}}</p>
                        </div>                            
                    </div>
                </div>
                </a>  
            </li>
        </ng-template>
    </ul>
    <div class="col oculto">
        <button type="button" class="btn btn-primary btn-block ">
            <i class="material-icons align-top">add</i> 
            Nueva solicitud
        </button>
    </div>
    
</div>