<div class="contenidoMensajeria">
  <!--opciones-->
  <div class="opciones">
    <div class="boxBoton">
        <i class="material-icons">chat</i>
        <span class="badge badge-danger2">4</span>
    </div>
    <div class="opcionOcultar boxAcciones">
        <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-info" id="dropdownBasic1" ngbDropdownToggle>Opciones</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item">Destacar</button>
                <button class="dropdown-item">Marcar como no leído</button>
                <button class="dropdown-item">Eliminar</button>
            </div>
        </div>
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-info" id="dropdownBasic1" ngbDropdownToggle>Filtra por estado</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item">Rojo</button>
            <button class="dropdown-item">Amarillo</button>
            <button class="dropdown-item">Verde</button>
            </div>
        </div>
    </div>
  
    <div class="opcionOcultar">
        <input type="text" class="form-control" id="" aria-describedby="" placeholder="buscar">
    </div>
 

  </div><!--opciones--> 
  
    <ul class="list-group ">
        <li class="list-group-item list-group-item-action">
            
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck15">
                <label class="custom-control-label" for="customCheck15">Check this custom checkbox</label>
            </div>
            <a routerLink="/detalle-mensaje" routerLinkActive="active">
            <div class="col ml15">
                <div class="prioridad">
                    <div class="colorPrioridad amarillo"></div>
                    <span class="badge badge-warning">1 Vence mañana</span>
                    <div class="hora">16:50</div>
                </div>
                <div class="mensaje">
                    <p class="titulo">Informe de discapacidad Rodrigo Ramirez (13.282.158-3)</p>
                    <p class="user">Tú dijiste</p>
                    <div class="texto ">
                        <p class="text-truncate">Hola Jorge" necesito evalúes el caso de Rodrigo para el Lunes.</p>
                    </div>                            
                </div>
            </div>
            </a>  
        </li>
        <li class="list-group-item list-group-item-action">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck14">
                <label class="custom-control-label" for="customCheck14">Check this custom checkbox</label>
            </div>
            <div class="col ml15">
                <div class="prioridad">
                    <div class="colorPrioridad amarillo"></div>
                    <span class="badge badge-warning">1 Vence mañana</span>
                    <div class="hora">16:50</div>
                </div>
                <div class="mensaje">
                    <p class="titulo">Informe de discapacidad Rodrigo Ramirez (13.282.158-3)</p>
                    <p class="user">Tú dijiste</p>
                    <div class="texto ">
                        <p class="text-truncate">Hola Jorge" necesito evalúes el caso de Rodrigo para el Lunes.</p>
                    </div>                            
                </div>
            </div>  
        </li>
        <li class="list-group-item list-group-item-action">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck13">
                <label class="custom-control-label" for="customCheck13">Check this custom checkbox</label>
            </div>
            <div class="col ml15">
                <div class="prioridad">
                    <div class="colorPrioridad amarillo"></div>
                    <span class="badge badge-warning">1 Vence mañana</span>
                    <div class="hora">16:50</div>
                </div>
                <div class="mensaje">
                    <p class="titulo">Informe de discapacidad Rodrigo Ramirez (13.282.158-3)</p>
                    <p class="user">Tú dijiste</p>
                    <div class="texto ">
                        <p class="text-truncate">Hola Jorge" necesito evalúes el caso de Rodrigo para el Lunes.</p>
                    </div>                            
                </div>
            </div>  
        </li>
        <li class="list-group-item list-group-item-action">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck12">
                <label class="custom-control-label" for="customCheck12">Check this custom checkbox</label>
            </div>
            <div class="col ml15">
                <div class="prioridad">
                    <div class="colorPrioridad amarillo"></div>
                    <span class="badge badge-warning">1 Vence mañana</span>
                    <div class="hora">16:50</div>
                </div>
                <div class="mensaje">
                    <p class="titulo">Informe de discapacidad Rodrigo Ramirez (13.282.158-3)</p>
                    <p class="user">Tú dijiste</p>
                    <div class="texto ">
                        <p class="text-truncate">Hola Jorge" necesito evalúes el caso de Rodrigo para el Lunes.</p>
                    </div>                            
                </div>
            </div>  
        </li>
        <li class="list-group-item list-group-item-action">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck11">
                <label class="custom-control-label" for="customCheck11">Check this custom checkbox</label>
            </div>
            <div class="col ml15">
                <div class="prioridad">
                    <div class="colorPrioridad amarillo"></div>
                    <span class="badge badge-warning">1 Vence mañana</span>
                    <div class="hora">16:50</div>
                </div>
                <div class="mensaje">
                    <p class="titulo">Informe de discapacidad Rodrigo Ramirez (13.282.158-3)</p>
                    <p class="user">Tú dijiste</p>
                    <div class="texto ">
                        <p class="text-truncate">Hola Jorge" necesito evalúes el caso de Rodrigo para el Lunes.</p>
                    </div>                            
                </div>
            </div>  
        </li>
    </ul>
    <div class="col oculto">
        <button type="button" class="btn btn-primary btn-block ">
            <i class="material-icons align-top">add</i> 
            Nueva solicitud
        </button>
    </div>
    
</div>