<header class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-2 align-self-center">
          <!--logo-->
          <div class="logo text-center">
            <img routerLink="/" src="assets/img/bancodechile.svg">
          </div><!--logo-->    
        </div>
        <div class="col-12 col-md-5  align-self-center">
          <!--form buscador-->
          <form name="buscarTrabajador" ngNativeValidate>
            <div class="input-group">
              <input id="typeahead-template" [ngModelOptions]="{standalone: true}" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter" placeholder="ingresa rut"/>
              <div class="input-group-append">
                <button class="btn btn-primary btn-gris" type="button">Buscar</button>
              </div>
            </div>
            <ng-template #rt let-r="result" let-t="term">
              {{ r.first_name}} {{ r.last_name}}
            </ng-template>
          </form><!--/form buscador-->
        </div>
        <div class="col d-none d-md-block d-lg-block d-xl-block">
          <!--wraperPerfil-->
          <div class="wraperPerfil">
            <!--agenda-->
            <div class="border-right boxAgenda">
              <a routerLink="/agenda">
                <i class="material-icons">date_range</i>
                <p>Mi Agenda</p>
              </a>    
            </div><!--agenda-->
            <!--perfil-->
            <div ngbDropdown placement="bottom" class="boxperfil">
                <div ngbDropdownToggle>
                  <div class="boxImgPerfil" >
                    <div class="imgPerfil rounded-circle" >
                        <img  src="assets/img/perfil.jpeg">
                    </div>
                  </div>
                  <div class="boxTextos">
                    <p class="name">José Gallardo</p>
                    <p class="cargo">Asistente social</p>
                    <i class="material-icons">expand_more</i>
                  </div>
                </div>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                  <button  routerLink="/login" class="dropdown-item">Cerrar sesión</button>
                </div>
            </div><!--/perfil-->     
          </div><!--/wraperPerfil-->
        </div>
      </div>
</header>
