<div class="fichaAtencion">
    <div class="row">
       <!--contenido  -->
       <div class="col-12 col-md-8 contenidoRight">
          <div class="row mt-4 mb-3 mb-md-3">
            <div class="col-12 col-md">
              <h4>
                <span class="align-middle">Formulario de discapacidad</span> - 
                <span class="font-weight-bold align-middle ">
                  <span class="uppercaseFirst" *ngIf="workingInformation">{{workingInformation.professional.first_name}} {{workingInformation.professional.last_name}} 
                  ({{workingInformation.professional.rut}}-{{workingInformation.professional.check_digit}} )</span>
                  <i class="material-icons icono coloresDiscapcidad azul rounded-circle align-middle">accessible</i>
                </span>
              </h4>
            </div>
          </div>
          <!-- pasos generales -->
        <div class="row pasos">
            <div class="col-12 col-md pr-md-0 mt-4 mt-md-0">
              <div class="pasoCompleto">
                <a routerLink="/acreditacion-discapacidad" routerLinkActive="active">
                  <i class="material-icons align-top">check</i>
                  <div class="textos"> 
                    <p>Acreditación de discapacidad</p>
                    <span>Completado</span>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-12 col-md p-md-0">
              <div class="pasoCompleto">
                <a routerLink="/informe-discapacidad" routerLinkActive="active">
                <i class="material-icons align-top">check</i>
                <div class="textos ml-1"> 
                  <p>Informe de discapacidad</p>
                  <span>Completado</span>
                </div>
                </a>
              </div>
            </div>
            <div class="col-12 col-md pl-md-0">
              <div class="pasoClaro">
                <div class="textos ml-4 ml-md-5"> 
                  <p>Respuesta gestor</p>
                  <span>En proceso</span>
                </div>
              </div>
            </div>
          </div><!-- pasos generales -->
          <!-- titulos -->
          <div class="row mt-4">
            <div class="col">
              <h5 class="font-weight-semi-bold">Informe de discapacidad</h5>
            </div>
          </div><!-- titulos -->
  
          <div class="row">
            <div class="col">
                <div class="alert alert-secondary" role="alert">
                  <h4 class="alert-heading">Resumen del caso</h4>
                
                  <div class="alert alert-success" role="alert">
                    <p>Tu solicitud de respuesta fue enviada al gestor(es).</p>
                  </div>
                  <button type="button" class="btn btn-success ml-0 ml--md-4  btnMobile" (click)="goToAttentionRequestDetail()">
                    ir a la solictud
                  </button>
                  <hr>
                  <div class="row">
                    <div class="col-sm-4">
                      <div class="mb-3 mb-md">
                          <h5 *ngIf="priority">Prioridad: <span [ngClass]="setClass()"> {{ priority.name }} </span></h5>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="mb-3 mb-md">
                          <h5 *ngIf="attention_request">Vence: {{attention_request.expire_date | date: 'dd-MM-yyyy'}}</h5>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
       </div> <!-- /contenido-->

       <!--sidebar  -->
      <div class="col-12 col-md sideRight">
        <app-ficha-sidebar [workingInformation]="workingInformation">
        </app-ficha-sidebar>
      </div><!--/sidebar  -->
    </div>
  </div>