<div class="fichaAtencion">
  <div class="row">
    <!--contenido  -->
    <div class="col-12 col-md-8 contenidoRight">
      <!-- navegacion y guardar -->
      <div class="row">
        <div class="col-12 col-md-2  mb-3 mb-md-0">
          <button type="button" class="btn btn-outline-secondary btnMobile" (click)="goBack()"> <!--btn-link -->
            <i class="material-icons align-top">clear</i> Cancelar
          </button>  
        </div>
        <div class="col-12 col-md-4">
          <button type="button" class="btn btn-outline-secondary btn-block mb-3 mb-md-0"  routerLink="/nueva-atencion">
            <i _ngcontent-c0="" class="material-icons align-top">chevron_left</i> 
            Volver al formulario general
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-success float-right btnMobile">
            <i class="material-icons align-top">save</i>
            Guardar y cerrar
          </button>
        </div>
      </div><!-- /navegacion y guardar -->
      <div class="row mt-5 mb-3 mb-md-0">
        <div class="col-12 col-md-9">
          <h4>
            <span class="align-middle">Nueva atención</span> - <span class="font-weight-bold align-middle">Rodrigo Ramirez (13.985.689-4) 
              <i class="material-icons icono coloresDiscapcidad azul rounded-circle align-middle">accessible</i>
            </span>
          </h4>
          <p>Formulario de caso discapacidad</p>
        </div>
        <div class="col-12 col-md-3">
          <div ngbDropdown class="d-inline-block btnMobile">
            <button class="btn btn-outline-secondary btnMobile" id="dropdownBasic1" ngbDropdownToggle>
              <i class="material-icons align-top">share</i>
              Compartir informe
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item">Mensajería</button>
              <button class="dropdown-item">Email</button>
              <button class="dropdown-item">Descargar</button>
            </div>
          </div>
        </div>
      </div>
      <!-- pasos generales -->
      <div class="row pasos">
        <div class="col-12 col-md pr-md-0">
          <div class="pasoActivo">
            <i class="material-icons align-top">check</i>
            <div class="textos"> 
              <p>Acreditación de discapacidad</p>
              <span>En proceso</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-md p-md-0">
          <div class="pasoInactivo">
            <div class="textos ml-4 ml-md-5"> 
              <p>Informe de discapacidad</p>
              <span>pendiente</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-md pl-md-0">
          <div class="pasoClaro">
            <div class="textos ml-1 ml-md-5"> 
              <p>Respuesta gestor</p>
              <span>pendiente</span>
            </div>
          </div>
        </div>
      </div><!-- pasos generales -->

      <div class="row mt-4">
        <div class="col">
          <h5 class="font-weight-semi-bold"><span style="display:none">Paso 1 -</span>Acreditación de discapacidad</h5>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <form >
            <div class="form-row mt-2">
                <div class="form-group  col-12">
                    <span class="label">
                  <span class="spanEspecial ml-0">¿Desea participar?</span>
                  </span>
                  <switch></switch>
                  
                </div>
                <textarea style="display:none;" class="form-control mt-2" id="exampleFormControlTextarea1" placeholder="Escribir observaciones" rows="4"></textarea>
              </div>
              <div class="form-row">
                
                <div class="form-group col-12 col-md-4">
                  <label for="inputState">Registro nacional de discapacidad</label>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input is-invalid" id="customFileLang" lang="es" required>
                    <div class="invalid-feedback">
                      Debe completar la información
                    </div> 
                    <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
                  </div>
                      
                </div>

                <div class="form-group col-md-4">
                  <label for="inputState">Pensión de invalidez</label>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input is-valid" id="customFileLang" lang="es" required>
                    <div class="valid-feedback">
                      Correcto!
                      </div>
                    <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
                  </div> 
                </div>
                <div class="form-group col-md-4">
                  <label for="inputState">Acreditación COMPIN</label>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="customFileLang" lang="es">
                      <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
                    </div> 
                </div>
              </div> 

              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="inputState">Otra acreditación</label>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFileLang" lang="es">
                    <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
                  </div>     
                </div>

                <div class="form-group col-md-4">
                  <label for="inputState">Informe social</label>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFileLang" lang="es">
                    <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
                  </div> 
                </div>
                <div class="form-group col-md-4">
                  <label for="inputState">Informe médico</label>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="customFileLang" lang="es">
                      <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
                    </div> 
                  </div>
                </div>
        
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="inputState">Fecha de la citación IVADEC</label>
                    <div class="input-group">
                      <input class="form-control" placeholder="Seleccione Fecha" name="dp"  ngbDatepicker #d="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="input-group-text " (click)="d.toggle()" type="button">
                          <i class="material-icons">date_range</i>
                        </button> 
                      </div>
                    </div>        
                  </div> 
                  <div class="form-group col-md-12">
                      <label>Observaciones gestión</label>
                      <textarea class="form-control is-invalid" id="exampleFormControlTextarea1" placeholder="Escribir observaciones" rows="4" required ></textarea>
                      <div class="invalid-feedback">
                        Debe completar la información
                      </div> 
                  </div>
                </div>
            </form>
            <!--paso anterior siguiente-->
            <div class="row prevnext">
                
                <div class="col text-center align-middle" style="display:none">
                  <a routerLink="/informe-discapacidad" routerLinkActive="active">
                    <span class="align-middle">paso siguiente</span>
                    <i class="material-icons align-middle">chevron_right</i>
                  </a>
                </div>
                <div class="col text-right">
                    <button class="btn btn-info text-truncate btnMobile" routerLink="/informe-discapacidad"  type="button">
                      <i class="material-icons icono coloresDiscapcidad  align-middle">accessible</i>
                      Continuar informe de discapacidad
                    </button>
                </div>
            </div><!--/paso anterior siguiente-->
        </div>
      </div>

     </div><!-- /contenido-->

     <!--sidebar  -->
     <div class="col-12 col-md sideRight">
        <div class="ficha">
          <h4 class="font-weight-bold">Ficha del trabajador</h4>
          <hr>
          <h5 class="mb-3">Información personal</h5>
          <div class="table-responsive-sm ">
              <table class="table borderless">
                  <tbody>
                    <tr>
                      <td>
                          <span>Género</span>
                          <p>Masculino</p>
                      </td>
                      <td>
                          <span>Tel celular</span>
                          <p>(+569) 78598358</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span>Fecha de nacimiento</span>
                        <p>8 Febrero de 1986</p>
                      </td>
                      <td>
                          <span>Email</span>
                          <p>r.ramirez@gmail.com</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <span>Previsión</span>
                          <p>Isapre Colmena</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <h5 class="mb-3">Cargas</h5>
            <div class="table-responsive-sm ">
              <table class="table borderless">
                  <tbody>
                    <tr>
                      <td>
                          <span>Hijo - Daniel Ramírez</span>
                          <p>(20.259.987-7)</p>
                      </td>
                      <td>
                          <span>Cónyugue - Patricia Jara</span>
                          <p>(14.259.987-7)</p>
                      </td>
                    </tr>
                  
                    
                  </tbody>
                </table>
            </div>
            <hr>
            <h5 class="mb-3">Información Laboral</h5>
            <div class="table-responsive-sm ">
              <table class="table borderless">
                  <tbody>
                    <tr>
                      <td>
                          <span>Email</span>
                          <p>ramirez@bancochile.cl</p>
                      </td>
                      <td>
                          <span>Departamento</span>
                          <p>Marketing Empresas</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <span>Tel Oficina</span>
                          <p>(+562) 25687878</p>
                      </td>
                      <td>
                          <span>Cargo</span>
                          <p>Jefe Marketing</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                          <span>Sucursal</span>
                          <p>Estado</p>
                      </td>
                      <td>
                          <span>Direccion Sucrusal</span>
                          <p>Estado 123, santiago.</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
     </div><!--/sidebar  -->
     
  </div>
</div>