<div class="fichaAtencion">
  <div class="row">
    <!--contenido  -->
    <div class="col-12 col-md-8 contenidoRight">
      <!-- navegacion y guardar -->
      <div class="row">
        <div class="col-12 col-md-2  mb-3 mb-md-0">
          <button type="button" class="btn btn-outline-secondary btnMobile"> <!--btn-link -->
            <i class="material-icons align-top">clear</i> Cancelar
          </button>  
        </div>
        <div class="col-12 col-md-4">
          <button type="button" class="btn btn-outline-secondary btn-block mb-3 mb-md-0"  (click)="backClicked()">
            <i class="material-icons align-top">chevron_left</i> 
            Volver al formulario general
          </button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-success float-right btnMobile">
            <i class="material-icons align-top">save</i>
            Guardar y cerrar
          </button>
        </div>
      </div><!-- /navegacion y guardar -->
      <div class="row mt-5 mb-3 mb-md-3">
        <div class="col-12 col-md">
          <h4>
            <span class="align-middle">Formulario de discapacidad</span> - 
            <span class="font-weight-bold align-middle ">
              <span class="uppercaseFirst">{{workingInformation.professional.first_name}} {{workingInformation.professional.last_name}} 
              ({{workingInformation.professional.rut}}-{{workingInformation.professional.check_digit}} )</span>
              <i class="material-icons icono coloresDiscapcidad azul rounded-circle align-middle">accessible</i>
            </span>
          </h4>
        </div>
      </div>
      <!-- pasos generales -->
      <div class="row pasos">
        <div class="col-12 col-md pr-md-0">
          <div class="pasoActivo">
            <i class="material-icons align-top">check</i>
            <div class="textos"> 
              <p>Acreditación de discapacidad</p>
              <span>En proceso</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-md p-md-0">
          <div class="pasoInactivo">
            <div class="textos ml-4 ml-md-5"> 
              <p>Informe de discapacidad</p>
              <span>pendiente</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-md pl-md-0">
          <div class="pasoClaro">
            <div class="textos ml-1 ml-md-5"> 
              <p>Respuesta gestor</p>
              <span>pendiente</span>
            </div>
          </div>
        </div>
      </div><!-- pasos generales -->

      <div class="row mt-4">
        <div class="col">
          <h5 class="font-weight-semi-bold"><span style="display:none">Paso 1 -</span>Acreditación de discapacidad</h5>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <!-- loader -->
          <div class="boxloader" *ngIf="isLoading">
            <loaders-css [loader]="'ball-pulse'" [loaderClass]="'my-loader'"></loaders-css>
          </div><!-- loader -->
          <form id="acreditacionForm" (ngSubmit)="formPost()" ngNativeValidate>
            <div [innerHtml]="MyForm"> </div>
        
            <div class="form-row">
              <div class="form-group col-12 col-md-4">
                <div class="col text-right">
                  <button class="btn btn-info text-truncate btnMobile"  type="submit">
                    <i class="material-icons icono coloresDiscapcidad  align-middle">accessible</i>
                    Continuar informe de discapacidad
                  </button>
                </div>
              </div>
            </div>
          </form>
         
        </div>
      </div><!-- /contenido-->
    </div>
    
    <!--sidebar  -->
    <div class="col-12 col-md sideRight">
        <app-ficha-sidebar 
          [workingInformation]="workingInformation">
        </app-ficha-sidebar>
    </div><!--/sidebar  -->

  </div>
</div>