<div class="fichaAtencion">
    <div class="row">
        <!--contenido  -->
       <div class="col-8 contenidoRight">
         
          <div class="row">
            <div class="col-9">
                <button type="button" class="btn btn-outline-secondary">
                  <i class="material-icons align-top">clear</i> Cancelar
                </button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-success float-right">
                  <i class="material-icons align-top">save</i>
                  Nueva Atencion
                </button>
            </div>
          </div>
          <div class="row mt-5">
              <div class="col-12 col-sm-12  col-md-9">
                <h4>
                  <span class="align-middle">Nueva atención</span> - <span class="font-weight-bold align-middle">Rodrigo Ramirez (13.985.689-4)</span>
                </h4>
              </div>
              <div class="col-12 col-sm-12 col-md-3 text-right">
                  <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-secondary text-truncate" id="dropdownBasic1" ngbDropdownToggle>
                      <i class="material-icons align-top">share</i>
                      Compartir informe
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button class="dropdown-item">Mensajería</button>
                      <button class="dropdown-item">Email</button>
                      <button class="dropdown-item">Descargar</button>
                    </div>
                  </div>
              </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <h5>
                Profesional <span class="font-weight-bold">Patricia Gallardo </span>
                <!--esta accion queda pendiente su uso-->
                <button type="button" class="btn btn-sm btn-outline-secondary">
                  Editar
                </button><!--/esta accion queda pendiente su uso-->
              </h5>  
            </div>
          </div>
            
          <div class="row mt-4">
            <div class="col">
              <form>
                <div class="alert alert-info" role="alert">
                    <h4 class="alert-heading">Resumen del caso</h4>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia </p>
                    <hr>
                    <p class="mb-0 text-right">
                      
                      <span class="mr-2"> <i class="material-icons align-top">refresh</i>Última Actualización 10-Feb</span>
                      <button type="button" class="btn btn-sm btn-outline-info">
                          Editar
                       </button>
                    </p>
                  </div>
                </form>
                <div class="ficha mt-md-4">
                  <div class="row">
                    <div class="col-12">
                      <h4> 
                        <i class="material-icons align-top">person</i>Información Personal
                      </h4>
                      <hr>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="table-responsive-sm ">
                        <!--tabla  -->
                        <table class="table borderless">
                          <tbody>
                            <tr>
                              <td>
                                  <p>Género</p>
                              </td>
                              <td>
                                  <span>Tel celular</span>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                  <p>Fecha de nacimiento</p>
                              </td>
                              <td>
                                  <span>8 Feb 1980</span>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                  <p>Estado civil</p>
                              </td>
                              <td>
                                  <span>Tel celular</span>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                  <p>Previsión</p>
                              </td>
                              <td>
                                  <span>isapre</span>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <p>Cargas</p>
                              </td>
                              <td>
                                  <span>Hijo - Daniel Ramírez (18.657.987-7)<br> Hijo - Oscar Ramírez (19.957.987-7)</span>
                              </td>
                            </tr>
                          </tbody>
                        </table> <!--tabla  --> 
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="table-responsive-sm ">
                          <table class="table borderless">
                            <tbody>
                              <tr>
                                <td>
                                    <p>Celular</p>
                                </td>
                                <td>
                                    <span>Tel celular</span>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <p>Email personal</p>
                                </td>
                                <td>
                                    <span>Email</span>
                                </td>
                              </tr>
                              <tr>
                                  <td>
                                    <p>Dirección domicilio</p>
                                  </td>
                                  <td>
                                      <span>Calle 6874, santiago.</span>
                                  </td>
                                </tr>
                            </tbody>
                          </table>            
                        </div>
                    </div>
                  </div>
                  <div class="row mt-md-4">
                    <div class="col-12">
                      <h4>
                        <i class="material-icons">business_center</i>
                        Información laboral
                      </h4>
                      <hr>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="table-responsive-sm ">
                        <table class="table borderless">
                          <tbody>
                            <tr>
                              <td>
                                <p>Email</p>
                              </td>
                              <td>
                                <span>Tel celular</span>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <p>Tel oficina</p>
                              </td>
                              <td>
                                <span>Tel celular</span>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <p>Sucursal</p>
                              </td>
                              <td>
                                  <span>Tel celular</span>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <p>Dirección surcursal</p>
                              </td>
                              <td>
                                  <span>Email</span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                          
                        </div>
                    </div>
                    <div class="col-6">
                      <div class="table-responsive-sm ">
                        <table class="table borderless">
                          <tbody>
                            <tr>
                              <td>
                                <p>Departamento</p>
                              </td>
                              <td>
                                <span>Tel celular</span>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <p>Cargo</p>
                              </td>
                              <td>
                                <span>Email</span>
                              </td>
                            </tr>
                          </tbody>
                        </table> 
                      </div>
                    </div>
                  </div>
                  <div class="row mt-md-4">
                      <div class="col-12">
                        <h4>
                          <i  class="material-icons icono coloresDiscapcidad azul rounded-circle align-middle">accessible</i>
                          Antecedentes de discapacidad
                        </h4>
                        <hr>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <div class="table-responsive-sm ">
                          <table class="table borderless">
                            <tbody>
                              <tr>
                                <td>
                                  <p>Acreditación</p>
                                </td>
                                <td>
                                  <span>Registro nacional de discapacidad</span>
                                  <button class="btn btn-sm btn-outline-secondary" type="button">
                                      ver detalles
                                  </button>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <p>Estado</p>
                                </td>
                                <td>
                                  <i class="material-icons icono coloresDiscapcidad amarillo rounded-circle">accessible</i>
                                  <span>Respuesta de gestor pendiente</span>
                                </td>
                              </tr>
                                <tr>
                                <td>
                                  <p>Diagnóstico</p>
                                </td>
                                <td>
                                  <span>-</span>
                                </td>
                              </tr>
                              <tr>
                                  <td>
                                    <p>Tipo de Diagnóstico</p>
                                  </td>
                                  <td>
                                    <span>-</span>
                                  </td>
                                </tr>
                              <tr>
                                <td>
                                  <p>Tipo dificultad</p>
                                </td>
                                <td>
                                  <span>-</span>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <p>Tipo discapacidad</p>
                                </td>
                                <td>
                                    <span>-</span>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <p>% de discapacidad</p>
                                </td>
                                <td>
                                    <span>-</span>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                            
                          </div>
                      </div>
                      <div class="col-6">
                        <div class="table-responsive-sm ">
                          <table class="table borderless">
                            <tbody>
                              <tr>
                                <td>
                                  <p>Jefatura conoce diagnóstico</p>
                                </td>
                                <td>
                                  <span>No</span>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  <p>Jefatura conoce discapacidad</p>
                                </td>
                                <td>
                                  <span>Sí</span>
                                </td>
                              </tr>
                              <tr>
                                  <td>
                                    <p>Beneficios</p>
                                  </td>
                                  <td>
                                    <ul>
                                      <lI>beneficio número 1</lI>
                                      <lI>beneficio número 1</lI>
                                      <lI>beneficio número 1</lI>
                                      <lI>beneficio número 1</lI>
                                    </ul>
                                  </td>
                                </tr>
                            </tbody>
                          </table> 
                        </div>
                      </div>
                    </div>
                </div>
            </div>
          </div>
  
       </div> <!-- /contenido-->
        <!--sidebar  -->
        <div class="col sideRight">
          <div class="ficha">
            <h4 class="font-weight-bold">Ficha del trabajador</h4>
            <hr>
            <h5 class="mb-3">Profesionales relacionados</h5>
            <div class="row listaProfesionales">
              <div class="col-2">
                <div class="imgPerfil rounded-circle">
                    <img  src="assets/img/perfil.jpeg">
                </div>
              </div>
              <div class="col-7">
                <p class="font-weight-semi-bold">Alejandro Guzmán</p>
                Gestor
              </div>
              <div class="col-3">
                <button class="btn btn-sm btn-outline-secondary" type="button">
                    Contactar
                </button>
              </div>
            </div>
            <div class="row listaProfesionales">
              <div class="col-2">
                <div class="imgPerfil rounded-circle">
                    <img  src="assets/img/perfil.jpeg">
                </div>
              </div>
              <div class="col-7">
                <p class="font-weight-semi-bold">Alejandro Guzmán</p>
                Gestor
              </div>
              <div class="col-3">
                <button class="btn btn-sm btn-outline-secondary" type="button">
                    Contactar
                </button>
              </div>
            </div>
            <div class="row listaProfesionales">
                <div class="col-2">
                  <div class="imgPerfil rounded-circle">
                      <img  src="assets/img/perfil.jpeg">
                  </div>
                </div>
                <div class="col-7">
                  <p class="font-weight-semi-bold">Alejandro Guzmán</p>
                  Gestor
                </div>
                <div class="col-3">
                  <button class="btn btn-sm btn-outline-secondary" type="button">
                      Contactar
                  </button>
                </div>
              </div>

              <hr>
              <h5 class="mb-3">Solicitudes de Información</h5>
              <div  class="row">
                    <ul class="list-group ">
                      <li class="list-group-item list-group-item-action">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck15">
                            <label class="custom-control-label" for="customCheck15">Check this custom checkbox</label>
                        </div>
                        <a routerLink="/detalle-mensaje">
                          <div class="col">
                            <div class="prioridad">
                              <div class="colorPrioridad amarillo"></div>
                              <span class="badge badge-warning">1 Vence mañana</span>
                              <div class="hora">16:50</div>
                            </div>
                            <div class="mensaje">
                              <p class="titulo">Informe de discapacidad Rodrigo Ramirez (13.282.158-3)</p>
                              <p class="user">Tú dijiste</p>
                              <div class="texto ">
                                <p class="text-truncate">Hola Jorge" necesito evalúes el caso de Rodrigo para el Lunes.</p>
                              </div>                            
                            </div>
                          </div>
                        </a>  
                      </li>
                      <li class="list-group-item list-group-item-action">
                          <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="customCheck15">
                              <label class="custom-control-label" for="customCheck15">Check this custom checkbox</label>
                          </div>
                          <a routerLink="/detalle-mensaje">
                            <div class="col">
                              <div class="prioridad">
                                <div class="colorPrioridad amarillo"></div>
                                <span class="badge badge-warning">1 Vence mañana</span>
                                <div class="hora">16:50</div>
                              </div>
                              <div class="mensaje">
                                <p class="titulo">Informe de discapacidad Rodrigo Ramirez (13.282.158-3)</p>
                                <p class="user">Tú dijiste</p>
                                <div class="texto ">
                                  <p class="text-truncate">Hola Jorge" necesito evalúes el caso de Rodrigo para el Lunes.</p>
                                </div>                            
                              </div>
                            </div>
                          </a>  
                        </li>
                    </ul>
              </div>
              

                <hr>
                <h5 class="mb-3">Enlaces y documentos</h5>
               <div class="row">
                 <div class="col-12">
                    <ul class="listDoc">
                      <li>
                        <div class="doc">
                          <a href="">
                            <i class="material-icons">insert_drive_file</i>
                            Informe de discapacidad Rodrigo Ramirez
                          </a>
                        </div>
                      </li>
                      <li>
                        <div class="doc">
                          <a href="">
                            <i class="material-icons">insert_drive_file</i>
                            Listado ayuda especial gastos
                          </a>
                        </div>
                      </li>
                      <li>
                          <div class="doc">
                            <a href="">
                              <i class="material-icons">insert_drive_file</i>
                              Informe médico
                            </a>
                          </div>
                        </li>
                        <li>
                          <div class="doc">
                            <a href="">
                              <i class="material-icons">insert_drive_file</i>
                              Informe social Rodrigo Ramirez
                            </a>
                          </div>
                        </li>
                    </ul>
                 </div>
               </div>
            </div>
            
         </div><!--/sidebar  -->
       
     
    </div>
  </div>