<div class="fichaAtencion">
    <div class="row">
        <!--contenido  -->
       <div class="col-8 contenidoRight">
         
          <div class="row">
            <div class="col-9">
                <button type="button" class="btn btn-outline-secondary">
                  <i class="material-icons align-top">clear</i> Cancelar
                </button>
            </div>
           
          </div>
          <div class="row mt-5">
              <div class="col-12 col-sm-12  col-md-9">
                <h4>
                  <span class="font-weight-bold align-middle"  *ngIf="workingInformation">
                    {{workingInformation.professional.first_name}} {{workingInformation.professional.last_name}}  (13.985.689-4)
                  </span>
                </h4>
              </div>
          </div>
            
          <div class="row mt-4">
            <div class="col">
                <div class="ficha mt-md-4">
                  <div class="row mt-md-4">
                    <div class="col-12">
                      <h4>
                        <i class="material-icons">business_center</i>
                        Información laboral
                      </h4>
                      <hr>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="table-responsive-sm ">
                        <table class="table borderless">
                          <tbody>
                            <tr>
                              <td>
                                <p>Email</p>
                              </td>
                              <td>
                                <span>Tel celular</span>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <p>Tel oficina</p>
                              </td>
                              <td>
                                <span>Tel celular</span>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <p>Sucursal</p>
                              </td>
                              <td>
                                  <span>Tel celular</span>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <p>Dirección surcursal</p>
                              </td>
                              <td>
                                  <span>Email</span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                          
                        </div>
                    </div>
                    <div class="col-6">
                      <div class="table-responsive-sm ">
                        <table class="table borderless">
                          <tbody>
                            <tr>
                              <td>
                                <p>Departamento</p>
                              </td>
                              <td>
                                <span>Tel celular</span>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <p>Cargo</p>
                              </td>
                              <td>
                                <span>Email</span>
                              </td>
                            </tr>
                          </tbody>
                        </table> 
                      </div>
                    </div>
                  </div>


                </div>
            </div>
          </div>

          <!-- filaPadre-->
          <div class="filaPadre">
            <div class="row">
              <div class="col-12 col-md-7"><h3>Historial de atenciones</h3></div>
            </div>

            <!-- table -->
            <div class="table-responsive">
              <table class="table table-striped">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Resumen del caso</th>
                    <th scope="col">Profesional a cargo</th>
                    <th scope="col">Ver atención</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">dato.fecha}}</th>
                    <td>dato.areaConsulta}}</td>
                    <td>motivoConsulta}}</td>
                    <td class="text-truncate">dato.resumenCaso}}</td>
                  </tr>
                </tbody>
              </table>
            </div><!-- /table -->

          </div><!-- /filaPadre -->
  
       </div> <!-- /contenido-->

        <!--sidebar  -->
        <div class="col-12 col-md sideRight">
          <app-ficha-sidebar [workingInformation]="workingInformation">
          </app-ficha-sidebar>
        </div><!--/sidebar  -->
          
     
    </div>
  </div>