<!-- filaPadre -->
<div class="filaPadre">
  <h3>Resumen</h3>
  <div class="row">
    <!-- card solictudes -->
    <div class="col-12 col-sm-12 col-md-3 mb-4 mb-md-0"> 
      <div class="card">
          <h5 class="card-header">
              Solicitudes de información        
          </h5>
          <ul class="list-group list-group-flush" *ngFor="let item of solicitudes">
            <!--asignadas-->
            <li class="list-group-item list-group-item-action" *ngFor="let asignadas of item.asignadas">
              <div class="divSeparador">
                <span class="badge badge-pill badge-secondary">{{asignadas.cantidad}}</span> 
              </div>
              <p>Asignadas a mí</p>
              <span class="badge badge-danger">{{asignadas.fueraPlazo}} fuera de plazo</span>
            </li><!--asignadas-->
            <!--creadas-->
            <li class="list-group-item" *ngFor="let creadas of item.creadas">  
              <div class="divSeparador">
                <span class="badge badge-pill badge-secondary">{{creadas.cantidad}}</span>
              </div> 
              <p>Creadas por mí, pendientes</p>
              <span class="badge badge-danger">{{creadas.fueraPlazo}} fuera de plazo</span>
            </li><!--creadas-->
            <!--respuestas-->
            <li class="list-group-item">
              <div class="divSeparador">
                <span class="badge badge-pill badge-secondary">{{item.respuestas}}</span>
              </div>
              <p>Nuevas respuestas</p>
            </li><!--respuestas-->
          </ul>
      </div>
    </div><!--/card solictudes -->

    <!-- card seguimientos-->
    <div class="col-12 col-sm-12 col-md-3 mb-4 mb-md-0">   
      <div class="card">
          <h5 class="card-header">Seguimiento de casos</h5>   
          <ul class="list-group list-group-flush" *ngFor="let item of seguimientos">
            <li class="list-group-item">
              <div class="divSeparador">
                <span class="badge badge-pill badge-secondary">{{item.total}}</span> 
              </div>
              <p>Total</p>
            </li>
            <li class="list-group-item">  
              <div class="divSeparador">
                <span class="badge badge-pill badge-secondary">{{item.fueraPlazo}}</span>
              </div> 
              <p>Fuera de plazo</p>
            </li>
            <li class="list-group-item">
              <div class="divSeparador">
                <span class="badge badge-pill badge-secondary">{{item.vence}}</span>
              </div>
              <p>Plazo vence esta semana</p>
            </li>
          </ul>
      </div>
    </div><!-- /card seguimientos-->
    
    <!-- card discapacidad-->
    <div class="col-12 col-sm-12 col-md-3 mb-4 mb-md-0">    
      <div class="card">
        <h5 class="card-header">Casos de discapacidad</h5>
        <ul class="list-group list-group-flush" *ngFor="let item of discapacidad">
          <!--casos acreditados-->
          <li class="list-group-item">
            <div class="divSeparador">
              <span class="badge badge-pill badge-secondary">{{item.casosAcreditados}}</span> 
            </div>
            <p>Total de casos acreditados</p>
          </li><!--/casos acreditados-->

          <!--Acreditación pendiente-->
          <li class="list-group-item coloresDiscapcidad gris">  
            <div class="divSeparador">
              <span class="badge badge-pill badge-secondary">{{item.acreditacionPendiente}}</span>
            </div> 
            <p>Acreditación pendiente</p>     
          </li><!--/Acreditación pendiente-->

          <!--Informe discapacidad pendiente-->
          <li class="list-group-item coloresDiscapcidad cafe">  
            <div class="divSeparador">
              <span class="badge badge-pill badge-secondary">{{item.informePendiente}}</span>
            </div> 
            <p>Informe discapacidad pendiente</p>
          </li><!--/Informe discapacidad pendiente-->

          <!--Respuesta de gestor pendiente-->
          <li class="list-group-item coloresDiscapcidad amarillo" *ngFor="let item2 of item.respuestaGestorPendiente">
            <div class="divSeparador">
              <span class="badge badge-pill badge-secondary">{{item2.cantidad}}</span>
            </div>
            <p>Respuesta de gestor pendiente</p>
            <span class="badge badge-danger">{{item2.plazo}} fuera de plazo</span>
          </li><!--/Respuesta de gestor pendiente-->

          <!--Respuesta lista-->
          <li class="list-group-item coloresDiscapcidad azul">
            <div class="divSeparador">
              <span class="badge badge-pill badge-secondary">{{item.respuestaLista}}</span>
            </div>
            <p>Respuesta de gestor lista</p>
          </li><!--/Respuesta lista-->
        </ul>
      </div>
    </div><!--/card discapacidad-->

    <!-- card agendamientos-->
    <div class="col-12 col-sm-12 col-md-3 mb-4 mb-md-0">
      <div class="card proximosAgendamientos">
        <h5 class="card-header">Próximos agendamientos</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let item of agendamientos">
            <div class="row">
              <div class="col-3">
                {{item.hora}}
              </div>
              <div class="col-9" *ngFor="let item2 of item.trabajador">
                <p class="font-weight-semi-bold">{{item2.name}}</p>
                <span>{{item2.motivo}}</span>
              </div>
            </div>
          </li>   
        </ul>
      </div>
    </div><!--/card agendamientos-->
    
  </div>
</div><!-- /filaPadre -->
<!--<hr/>-->
<!-- filaPadre-->
<div class="filaPadre">
  <div class="row">
    <div class="col-12 col-md-7"><h3>Mis atenciones</h3></div>
    <div class="col-12 col-md mb-4 mb-md-0">
      <button routerLink="/nueva-atencion" routerLinkActive="active" type="button" class="btn btn-success btn-block">
        <i class="material-icons align-top">note_add</i>Nueva Atención
      </button>
    </div>
    <div class="col-12 col-md mb-4 mb-md-0">
      <button type="button" class="btn btn-secondary btn-block">Filtrar</button>
    </div>
    <div class="col-12 col-md mb-4 mb-md-0 ">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-info" id="dropdownBasic1" ngbDropdownToggle>Ordenadas por fecha</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item">Action - 1</button>
            <button class="dropdown-item">Another Action</button>
            <button class="dropdown-item">Something else is here</button>
          </div>
        </div>
    </div>
  </div>

  <!-- table -->
  <div class="table-responsive">
    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th scope="col">Fecha</th>
          <th scope="col">Trabajador</th>
          <th scope="col">Tipo de caso</th>
          <th scope="col">Área de consulta</th>
          <th scope="col">Motivo de consulta</th>
          <th scope="col">Resumen del caso</th>
          <th scope="col">Próximo Seguimiento</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dato of atenciones">
          <th scope="row">{{dato.fecha}}</th>
          <td *ngFor="let trabajador of dato.trabajador">
            {{trabajador.name}}
            <span>{{trabajador.rut}}</span>
          </td>
          <td>
            <i class="material-icons rounded-circle icono coloresCaso verde">favorite_border</i>
          </td>
          <td>{{dato.areaConsulta}}</td>
          <td>{{dato.motivoConsulta}}</td>
          <td class="text-truncate">{{dato.resumenCaso}}</td>
          <td *ngFor="let plazo of dato.proxSeguimiento">
            {{plazo.fecha}}  
            <span class="badge badge-danger">{{plazo.plazo}} Plazo vencido</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div><!-- /table -->

</div><!-- /filaPadre -->


<!--icons 
<i class="material-icons rounded-circle icono coloresCaso verde">favorite_border</i>
<i class="material-icons rounded-circle icono coloresCaso rojo">favorite_border</i>
<i class="material-icons icono coloresDiscapcidad amarillo rounded-circle">accessible</i>
<i class="material-icons icono coloresDiscapcidad cafe rounded-circle">accessible</i>
<i class="material-icons icono coloresDiscapcidad azul rounded-circle">accessible</i>
<i class="material-icons icono coloresDiscapcidad gris rounded-circle">accessible</i>
<i class="material-icons rounded-circle icono coloresCaso amarillo">favorite_border</i>



-->