<!--wrap -->
<div class="wrapGeneral">
    <!--boxMensajeria -->
    <div class="boxMensajeria d-none d-md-block d-lg-block d-xl-block">
        <!--contenedorAccion -->  
        <div class="contenedorAccion">
            <div class="cerrar">
                <i class="material-icons">chevron_right</i>
            </div>
            <p>Solicitudes de información</p>
        </div><!--contenedorAccion -->

        <!--contenidoMensajeria -->
        <app-mensajeria></app-mensajeria>
        <!--contenidoMensajeria -->
    </div><!--/boxMensajeria -->


    <!--boxCuerpo -->
    <div class="boxCuerpo">
        <app-header></app-header>
        <!--contenido -->    
        <div class="container-fluid cuerpo">
            <router-outlet></router-outlet>         
        </div><!--/contenido -->   
    </div><!--/boxCuerpo -->
</div><!--/wrap -->


<!--
<div *ngIf="router.url != '/login'">

</div>-->