<div class="wrapMensaje">
  <div class="mensajeHead"> 
    <div class="row">
      <div class="col-md-8">
        <h4>Informe de discapacidad {{medical_attention.patient.first_name}} {{medical_attention.patient.last_name}} ({{medical_attention.patient.rut}}-{{medical_attention.patient.check_digit}})</h4>
      </div>
      <div class="col-md-4 text-right">
        <button type="button" class="btn btn-success ml-4" routerLink="/detalle-mensaje">
          <i class="material-icons align-middle">check</i>
          Marcar completado
        </button>
        <button type="button" class="btn btn-link" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
            <i class="material-icons  align-middle">more_vert</i>
        </button>
        <!-- colapsable -->
        <div id="collapseExample" class="detalleSolicitud" [ngbCollapse]="!isCollapsed">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Detalles de la solicitud</h5>
                <div class="row">
                  <div class="col-12">
                    <span>Trabajador relacionado</span>
                    <p class="font-weight-semi-bold">{{medical_attention.patient.first_name}} {{medical_attention.patient.last_name}} ({{medical_attention.patient.rut}}-{{medical_attention.patient.check_digit}})</p>
                  </div>
                  <div class="col-12">
                    <span>Atención relacionada</span>
                    <p class="font-weight-semi-bold">Atención {{medical_attention.attention_date | date: 'dd-MM-yyyy'}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                      <span>Asignado a</span>
                  </div>
                  <ng-template ngFor let-man [ngForOf]="attention_request.manager">
                    <div class="col-12">
                        <div  class="boxperfil text-right">
                          <div class="boxImgPerfil">
                            <div class="imgPerfil rounded-circle">
                                <img src="assets/img/perfil.jpeg">
                            </div>
                          </div>
                          <div  class="boxTextos">
                            <p class="name">{{man.professional.first_name}} {{man.professional.last_name}}</p>
                            <p  class="cargo">{{man.position}}</p>
                          </div>
                        </div>
                    </div>
                  </ng-template>
                </div>
                <div class="row">
                  <!--div class="col-12">
                      <button type="button" class="btn btn-outline-secondary">
                        Sumar personas
                     </button>  
                  </div-->
                  <div class="col-12">
                    <div class="mb-3 mb-md">
                        <p>Prioridad: <span [ngClass]="setClass(attention_request.priority)"> {{ attention_request.priority.name }} </span></p>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="mb-3 mb-md">
                        <p>Vence: {{attention_request.expire_date | date: 'dd-MM-yyyy'}}</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <span>Enlaces y documentos</span>
                    <i class="material-icons">description</i>
                    <p>Informe discapacidad</p>
                  </div>
                </div>
              </div>
            </div>
        </div><!-- /colapsable -->  
      </div>
    </div>
    <hr>
  </div>

  <div class="mensajeCuerpo">  
    <div class="row">
      <div class="col-12">
        <div class="mensajePropio default">
            <p class="text-right">{{message.who_said}}</p>
            <div class="card border-info  mb-3">
                <!--asunto-->
                <div class="card-header">
                  <h5>Asunto: {{ message.subject }}</h5>
                </div><!--/asunto-->
                <!--cuerpo mensaje-->
                <div class="card-body">
                  <h5>Mensaje:</h5>
                  <p class="card-text">{{message.body}}</p>
                </div><!--/cuerpo mensaje-->
                <div class="card-footer bg-transparent border-secondary " *ngIf="attention_request.watch_invitation">
                  <div class="row">
                    <div class="col-1">
                        <i class="material-icons">description</i>
                    </div>
                    <div class="col-10">
                        <p >Invitaste a Jorge a ver el Informe de discapacidad de <span class="font-weight-semi-bold">Rodrigo Ramirez</span></p>
                        <button type="button" class="btn btn-outline-secondary"> <!--btn-link -->
                           Factibilidad dias de permiso
                        </button>
                        <button type="button" class="btn btn-outline-secondary"> <!--btn-link -->
                          Factibilidad dias de permiso
                       </button>   
                    </div>
                    <div class="col-1">
                        Ver
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <ng-template ngFor let-child [ngForOf]="message.childs_msg">
          <div [ngClass]="(child.sender===message.sender)?'mensajePropio default':'mensajeRecibido'">
              <p class="text-left">{{child.who_said}}</p>
              <div class="card border-info  mb-3">
                  <div class="card-body">
                    <p class="card-text">{{ child.subject }}. {{child.body}}.</p>
                  </div>
              </div>
          </div>
        </ng-template>
      </div>
  </div>
</div>


  <!-- mensajeFooter-->
  <div class="mensajeFooter">
    <!-- escribir mensaje -->
    <div class="row mb-3">
      <div class="col-12">
        <input type="text" placeholder="Asunto del mensaje" class="form-control">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="escribir">
          <textarea class="form-control" placeholder="Escribir un mensaje aquí" rows="6" #nuevoMensaje></textarea>
        </div>  
      </div>
    </div> <!-- /escribir mensaje -->

    <div class="row mt-4 mb-4">
        <div class="col-md-3">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFileLang" lang="es">
            <label class="custom-file-label" for="customFileLang">Seleccionar archivo adicional</label>
          </div>
        </div>
        <div class="col-md-9 text-right">
            <button type="button" class="btn btn-success" (click)="sendMessage(nuevoMensaje.value,message)"> <!--btn-link -->
              <i class="material-icons align-top">send</i> Enviar
            </button>  
        </div>
    </div>
  </div><!-- /mensajeFooter-->
 



</div>