<div class="fichaAtencion">
  <div class="row">
     
     <!--contenido  -->
     <div class="col-12 col-md-8 contenidoRight">
        <div class="row">
          <div class="col-12 col-md-9">
            <button type="button" class="btn btn-outline-secondary btnMobile  mb-3 mb-md-0">
              <i class="material-icons align-top">clear</i> Cancelar
            </button>
          </div>
          <div class="col">
            <button type="button" class="btn btn-success float-right btnMobile" (click)="formPost('/')" disabled>
              <i class="material-icons align-top">save</i>
              Guardar y cerrar
            </button>
          </div>
        </div>
        <div class="row mt-4 mt-md-5">
           <!-- buscador rut-->
          <div class="col-3 pr-0">
              <form name="buscarTrabajador" ngNativeValidate>
                <input id="typeahead-template" [ngModelOptions]="{standalone: true}" type="text" class="form-control buscadorinput" [(ngModel)]="model" [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter" placeholder="ingresa rut" required/>
                <button class="btn btn-primary" (click)="cargarDatos(model)">Aceptar</button>
                <ng-template #rt let-r="result" let-t="term">
                  {{ r.first_name}} {{ r.last_name}}
                </ng-template>
              </form>
          </div><!-- buscador rut-->
          
          <div class="col-12 col-sm-12 col-md">
            <h4>
              <span class="align-middle">Nueva atención</span> - 
              <span class="font-weight-bold align-middle" *ngIf="model; else templateName">
                {{model['first_name']}} {{model['last_name']}} ({{model['rut']}}-{{model['check_digit']}})  
              </span>     
              <ng-template #templateName>
                <span *ngIf="workingInformation" class="font-weight-bold align-middle uppercaseFirst">
                  {{workingInformation.professional.first_name}} {{workingInformation.professional.last_name}} 
                  ({{workingInformation.professional.rut}}-{{workingInformation.professional.check_digit}})
                </span>
              </ng-template>
            </h4>
          </div>  
        </div>

        <div class="row mt-4">
          <div class="col">
            <h5>
              Profesional <span class="font-weight-bold">Patricia Gallardo </span>
              <!--esta accion queda pendiente su uso-->
              <button type="button" class="btn btn-sm btn-outline-secondary">
                Editar
              </button><!--/esta accion queda pendiente su uso-->
            </h5>  
          </div>
          
        </div>       
        <div class="row mt-4">
          <div class="col">
            <!-- loader -->
            <div class="boxloader" *ngIf="isLoading">
              <loaders-css [loader]="'ball-pulse'" [loaderClass]="'my-loader'"></loaders-css>
            </div><!-- loader -->
        
            <!-- form-->
            <form class="formNuevaAtencion" (ngSubmit)="formPost('/acreditacion-discapacidad')" ngNativeValidate>
              <div [innerHtml]="MyForm"> 
              </div>
            </form><!-- form-->
          </div>
        </div>
     </div> <!-- /contenido-->

    <!--sidebar  -->
    <div class="col-12 col-md sideRight">
        <app-ficha-sidebar 
          [workingInformation]="workingInformation">
        </app-ficha-sidebar>
    </div><!--/sidebar  -->
     
  </div>
</div>
