<div class="fichaAtencion">
  <div class="row">
     
     <!--contenido  -->
     <div class="col-12 col-md-8 contenidoRight">
        <div class="row">
          <div class="col-12 col-md-9">
            <button type="button" class="btn btn-outline-secondary btnMobile  mb-3 mb-md-0">
              <i class="material-icons align-top">clear</i> Cancelar
            </button>
          </div>
          <div class="col">
              <button type="button" class="btn btn-success float-right btnMobile ">
                <i class="material-icons align-top">save</i>
                Guardar y cerrar
              </button>
          </div>
        </div>
        <div class="row mt-4 mt-md-5">
          <div class="col-12 col-sm-12 col-md-9">
            <h4>
              <span class="align-middle">Nueva atención</span> - <span class="font-weight-bold align-middle">Rodrigo Ramirez (13.985.689-4)</span>
            </h4>
          </div>
          <div class="col-12 col-sm-12 col-md-3 text-right mt-4 mt-md-0">
            <div ngbDropdown class="d-inline-block btnMobile">
              <button class="btn btn-outline-secondary text-truncate btnMobile" id="dropdownBasic1" ngbDropdownToggle>
                <i class="material-icons align-top">share</i>
                Compartir informe
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item">Mensajería</button>
                <button class="dropdown-item">Email</button>
                <button class="dropdown-item">Descargar</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <h5>
              Profesional <span class="font-weight-bold">Patricia Gallardo </span>
              <!--esta accion queda pendiente su uso-->
              <button type="button" class="btn btn-sm btn-outline-secondary">
                Editar
              </button><!--/esta accion queda pendiente su uso-->
            </h5>  
          </div>
          <div class="col">
            <div class="form-group">
              <input type="text" class="form-control"  placeholder="buscar trabajador">
            </div>
          </div>
        </div>
          
        <div class="row mt-4">
          <div class="col">
            <!-- loader -->
            <div class="boxloader" *ngIf="isLoading">
              <loaders-css [loader]="'ball-pulse'" [loaderClass]="'my-loader'"></loaders-css>
            </div><!-- loader -->
            <!--form-->
            <form *ngFor="let item of formSolicitud" class="{{item.css_class}}" name="{{item.name}}">
              <!--fila1-->
              <div *ngFor="let item of Fila1" id="{{item.id_element}}" class="{{item.parameters[0].value}}">
                <!--grupo datepicker-->
                <div class="form-group col-md-4">
                  <label for="inputState">Fecha de la atención</label>
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="input-group-text" (click)="d.toggle()" type="button">
                        <i class="material-icons">date_range</i>
                      </button> 
                    </div>
                  </div>        
                </div><!--grupo /datepicker-->

                <!--grupo consulta via -->
                <div  id="{{item.childs[0].id_element}}" class="{{item.childs[0].parameters[0].value}}">
                  <label for="{{item.childs[0].childs[0].id_element}}">{{item.childs[0].childs[0].default_value}}</label>
                  <select id="{{item.childs[0].childs[1].id_element}}" class="{{item.childs[0].childs[1].parameters[0].value}}">
                    <option selected>Seleccionar</option>
                    <option>{{item.childs[0].childs[1].childs[0]}}</option>
                    <option>{{item.childs[0].childs[1].childs[0]}}</option>
                  </select>
                </div><!--/grupo consulta via -->

                <!--grupo origen contacto -->
                <div id="{{item.childs[1].id_element}}" class="{{item.childs[1].parameters[0].value}}">
                  <label for="{{item.childs[1].childs[0].id_element}}">{{item.childs[1].childs[0].default_value}}</label>
                  <select id="{{item.childs[1].childs[1].id_element}}" class="{{item.childs[1].childs[1].parameters[0].value}}">
                    <option selected>Seleccionar</option>
                    <option>...</option>
                    <option>...</option>
                  </select>
                </div><!--/grupo origen contacto -->
              </div><!--/fila1-->

              <!--fila2-->
              <div *ngFor="let item of Fila2" id="{{item.id_element}}" class="{{item.parameters[0].value}}" title="{{item.parameters[1].value}}">
                <h4 class="alert-heading">{{item.childs[0].default_value}}</h4>
                <textarea class="form-control" rows="5"  disabled>{{item.childs[1].default_value}}</textarea>
                <hr>
                <p class="mb-0 text-right"> 
                  <span class="mr-2">Última Actualización 10-Feb</span>
                  <button type="button" class="btn btn-outline-info btnMobile mt-2 mt-md-0">
                    <i class="material-icons align-top">mode_edit</i>
                    Editar
                  </button>
                </p>
              </div><!--/fila2-->

              <!--fila3-->
              <div *ngFor="let item of Fila3" id="{{item.id_element}}"  class="{{item.parameters[0].value}}">
                <!--sub row 1 -->
                <div id="{{item.childs[0].id_element}}" class="{{item.parameters[0].value}}">
                  <label for="area-select">{{item.childs[0].childs[0].default_value}}</label>
                </div><!--sub row 1 -->
                <!--sub row 2 -->
                <div id="{{item.childs[1].id_element}}" class="{{item.childs[1].parameters[0].value}}">        
                  <div id="{{item.childs[1].childs[0].id_element}}" class="form-group col-12 col-md">  
                    <select id="{{item.childs[1].childs[0].childs[0].id_element}}" class="{{item.childs[1].childs[0].childs[0].parameters[0].value}}">
                      <option selected>Seleccionar área</option>
                      <option>...</option>
                      <option>...</option>
                    </select>        
                  </div>
                  <div id="{{item.childs[1].childs[1].id_element}}" class="form-group col-12 col-md">   
                    <select id="{{item.childs[1].childs[1].childs[0].id_element}}" class="{{item.childs[1].childs[1].childs[0].parameters[0].value}}">
                      <option selected>Seleccionar motivo</option>
                      <option>...</option>
                      <option>...</option>
                    </select>   
                  </div>
                </div><!--/sub row 2 -->
              </div><!--/fila3-->

              <!--fila4-->
              <div *ngFor="let item of Fila4" id="{{item.id_element}}"  class="{{item.parameters[0].value}}">
                <div id="{{item.childs[0].id_element}}" class="{{item.childs[0].parameters[0].value}}"> 
                  <label for="{{item.childs[0].childs[0].parameters[0].value}}">{{item.childs[0].childs[0].default_value}}</label>
                  <textarea class="{{item.childs[0].childs[1].parameters[4].value}}" id="{{item.childs[0].childs[1].parameters[1].value}}" name="{{item.childs[0].childs[1].parameters[2].value}}" rows="{{item.childs[0].childs[1].parameters[3].value}}" placeholder="{{item.childs[0].childs[1].parameters[3].value}}"></textarea>
                </div>
              </div><!--fila4-->

              <!--fila5-->
              <hr><!--fila5-->

              <!--fila6-->
              <div *ngFor="let item of Fila6" id="{{item.id_element}}"  class="{{item.parameters[0].value}}"><!--listo-->
                <div id="{{item.childs[0].id_element}}" class="{{item.childs[0].parameters[0].value}}">
                  <span class="{{item.childs[0].childs[0].parameters[0].value}}">
                    <i class="{{item.childs[0].childs[0].childs[0].parameters[0].value}}">{{item.childs[0].childs[0].childs[0].default_value}}</i> 
                    <span class="{{item.childs[0].childs[0].childs[1].parameters[0].value}}">{{item.childs[0].childs[0].childs[1].default_value}}</span>
                  </span>
                  <switch (click)="idSwitch(s1)" id="switch-{{item.childs[0].id_element}}" 
                    [onText]="switchUi.onText"
                    [offText]="switchUi.offText"  
                    [onColor]="switchUi.onColor"
                    [offColor]="switchUi.offColor"
                    (statusChange)="onFlagChange($event)"
                    [status]="switchUi.status">
                  </switch>
                </div>

                <!--listo-->
                <div id="{{item.childs[1].id_element}}" class="{{item.childs[1].parameters[0].value}}">
                  <span class="{{item.childs[1].childs[0].parameters[0].value}}">
                    <i class="{{item.childs[1].childs[0].childs[0].parameters[0].value}}">{{item.childs[1].childs[0].childs[0].default_value}}</i>
                    <span class="{{item.childs[0].childs[0].childs[1].parameters[0].value}}">{{item.childs[1].childs[0].childs[1].default_value}}</span>
                  </span>
                  <switch (click)="idSwitch(s2)" id="switch-{{item.childs[1].id_element}}" class="switchUi3"
                    [onText]="switchUi.onText"
                    [offText]="switchUi.offText"
                    [onColor]="switchUi.onColor"
                    [offColor]="switchUi.offColor"
                    (statusChange)="onFlagChange($event)"
                    [status]="switchUi.status">
                  </switch>
                </div>
                <!--listo-->
                <div id="{{item.childs[2].id_element}}" class="{{item.childs[0].parameters[0].value}}">
                  <button class="{{item.childs[2].childs[0].parameters[0].value}}" type="button" routerLink="/acreditacion-discapacidad" ><!-- disabled="" enabled="" -->
                    <i class="{{item.childs[2].childs[0].childs[0].parameters[0].value}}">{{item.childs[2].childs[0].childs[0].default_value}}</i>
                    {{item.childs[2].childs[0].default_value}}
                  </button>
                </div>
              </div><!--fila6-->

              <!--fila7-->
              <hr><!--fila7-->

              <!--fila8-->
              <div *ngFor="let item of Fila8" id="{{item.id_element}}"  class="{{item.parameters[0].value}}">
                <div id="{{item.childs[0].id_element}}" class="{{item.childs[0].parameters[0].value}}">
                  <span class="{{item.childs[0].childs[0].parameters[0].value}}">{{item.childs[0].childs[0].default_value}}</span>
                  <switch></switch>
                </div>
                <div id="{{item.childs[1].id_element}}" class="{{item.childs[1].parameters[0].value}}">
                  <span class="{{item.childs[1].childs[0].parameters[0].value}}">{{item.childs[1].childs[0].default_value}}</span>
                  <switch></switch>
                </div>
                <div id="{{item.childs[2].id_element}}" class="{{item.childs[2].parameters[0].value}}">
                  <span class="{{item.childs[2].childs[0].parameters[0].value}}">{{item.childs[2].childs[0].default_value}}</span>
                  <switch></switch>
                </div>
                <div id="{{item.childs[3].id_element}}" class="{{item.childs[3].parameters[0].value}}">
                  <span class="{{item.childs[3].childs[0].parameters[0].value}}">{{item.childs[3].childs[0].default_value}}</span>
                  <switch></switch>
                </div>
              </div><!--fila8-->
              
              <hr>
              <div class="form-row">
                <div class="form-group col-12 col-md-3 mb-3 mb-md-0">
                  <label for="inputState">Fecha de próximo contacto</label>
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp">
                    <div class="input-group-append">
                      <button class="input-group-text " (click)="d.toggle()" type="button">
                        <i class="material-icons">date_range</i>
                      </button> 
                    </div>
                  </div>        
                </div>
              </div> 
            </form><!--/form-->
          </div>
        </div>

     </div> <!-- /contenido-->

    <!--sidebar  -->
    <div class="col-12 col-md sideRight">
      <app-ficha-sidebar></app-ficha-sidebar>
    </div><!--/sidebar  -->
     
  </div>
</div>