<div class="fichaAtencion">
  <div class="row">
     
     <!--contenido  -->
     <div class="col-12 col-md-8 contenidoRight">
        <div class="row">
          <div class="col-12 col-md-9">
            <button type="button" class="btn btn-outline-secondary btnMobile  mb-3 mb-md-0">
              <i class="material-icons align-top">clear</i> Cancelar
            </button>
          </div>
          <div class="col">
              <button type="button" class="btn btn-success float-right btnMobile ">
                <i class="material-icons align-top">save</i>
                Guardar y cerrar
              </button>
          </div>
        </div>
        <div class="row mt-4 mt-md-5">

           <!-- buscador rut-->
          <div class="col-3 pr-0">
            <input id="typeahead-template" type="text" class="form-control buscadorinput" [(ngModel)]="model" [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter" placeholder="ingresa rut" />
            <button class="btn btn-primary" (click)="obtenerId(model)">Aceptar</button>
            <ng-template #rt let-r="result" let-t="term">
              {{ r.first_name}} {{ r.last_name}}
            </ng-template>
          </div><!-- buscador rut-->
          
          <div class="col-12 col-sm-12 col-md-5">
            <h5>
              <span class="align-middle">Nueva atención</span> - 
              <span class="font-weight-bold align-middle" *ngIf="model">
                {{model['first_name']}} {{model['last_name']}} ({{model['rut']}})  
              </span>
            </h5>
          </div>
          <div class="col-12 col-sm-12 col-md-3 text-right mt-4 mt-md-0">
            <div ngbDropdown class="d-inline-block btnMobile">
              <button class="btn btn-outline-secondary text-truncate btnMobile" id="dropdownBasic1" ngbDropdownToggle>
                <i class="material-icons align-top">share</i>
                Compartir informe
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item">Mensajería</button>
                <button class="dropdown-item">Email</button>
                <button class="dropdown-item">Descargar</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <h5>
              Profesional <span class="font-weight-bold">Patricia Gallardo </span>
              <!--esta accion queda pendiente su uso-->
              <button type="button" class="btn btn-sm btn-outline-secondary">
                Editar
              </button><!--/esta accion queda pendiente su uso-->
            </h5>  
          </div>
          
        </div>       
        <div class="row mt-4">
          <div class="col">
            <!-- loader -->
            <div class="boxloader" *ngIf="isLoading">
              <loaders-css [loader]="'ball-pulse'" [loaderClass]="'my-loader'"></loaders-css>
            </div><!-- loader -->
        
            <!-- Rounded switch -->
            <form (ngSubmit)="formPost()">
              <div [innerHtml]="MyForm">
          
              </div>
            </form>
          </div>
        </div>

     </div> <!-- /contenido-->

    <!--sidebar  -->
    <div class="col-12 col-md sideRight">
      <app-ficha-sidebar></app-ficha-sidebar>
    </div><!--/sidebar  -->
     
  </div>
</div>
