<div class="fichaAtencion">
    <div class="row">
       <!--contenido  -->
       <div class="col-12 col-md-8 contenidoRight">
          <!-- navegacion y guardar -->
          <div class="row">
              <div class="col-12 col-md-2">
                <button type="button" class="btn btn-outline-secondary btnMobile mb-3 mb-md" routerLink="/nueva-atencion"> <!--btn-link -->
                  <i class="material-icons align-top">chevron_left</i> Volver
                </button>  
              </div>
          
              <div class="col">
                  <button type="button" class="btn btn-success float-right btnMobile">
                    <i class="material-icons align-top">save</i>
                    Guardar y cerrar
                  </button>
              </div>
            </div><!-- /navegacion y guardar -->
          <div class="row mt-5">
              <div class="col-12 col-md-9">
                <h4>
                    <span class="align-middle">Formulario de discapacidad</span> - 
                    <span class="font-weight-bold align-middle ">
                      <span class="uppercaseFirst" *ngIf="workingInformation">{{workingInformation.professional.first_name}} {{workingInformation.professional.last_name}} 
                      ({{workingInformation.professional.rut}}-{{workingInformation.professional.check_digit}} )</span>
                      <i class="material-icons icono coloresDiscapcidad azul rounded-circle align-middle">accessible</i>
                    </span>
                </h4>
              </div>
          </div>
          <!-- pasos generales -->
          <div class="row pasos">
            <div class="col-12 col-md pr-md-0 mt-4 mt-md-0">
              <div class="pasoCompleto">
                <a routerLink="/acreditacion-discapacidad" routerLinkActive="active">
                  <i class="material-icons align-top">check</i>
                  <div class="textos"> 
                    <p>Acreditación de discapacidad</p>
                    <span>Completado</span>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-12 col-md p-md-0">
              <div class="pasoActivo">
                <div class="textos ml-4 ml-md-5"> 
                  <p>Informe de discapacidad</p>
                  <span>En proceso</span>
                </div>
              </div>
            </div>
            <div class="col-12 col-md pl-md-0">
              <div class="pasoClaro">
                <div class="textos ml-4 ml-md-5"> 
                  <p>Respuesta gestor</p>
                  <span>pendiente</span>
                </div>
              </div>
            </div>
          </div><!-- pasos generales -->
          <!-- titulos -->
          <div class="row mt-3 mb-1">
            <div class="col">
              <h6 class="font-weight-semi-bold">Diagnóstico</h6>
            </div>
          </div><!-- titulos -->
  
          <div class="row">
            <div class="col">
              <!-- loader -->
              <div class="boxloader" *ngIf="isLoading">
                <loaders-css [loader]="'ball-pulse'" [loaderClass]="'my-loader'"></loaders-css>
              </div><!-- loader -->
              
              <form id="informeForm" (ngSubmit)="formPost(content)" ngNativeValidate>
                <div [innerHtml]="MyForm">
            
                </div>
                 <!--paso anterior siguiente-->
                 <div class="row prevnext">
                  <div class="col text-left">
                    <button type="button" class="btn btn-outline-secondary btnMobile mb-3 mb-md" routerLink="/acreditacion-discapacidad"> <!--btn-link -->
                      <i class="material-icons align-middle">chevron_left</i> paso anterior
                    </button>  
                  </div>
                  <div class="col text-right">
                      <button class="btn btn-info text-truncate btnMobile"  type="submit">
                        <i class="material-icons icono coloresDiscapcidad  align-middle">accessible</i>
                        Solicitar revisión al gestor
                      </button>
                  </div>
              </div><!--/paso anterior siguiente-->
              </form>

               
            </div>
          </div>
  
       </div> <!-- /contenido-->

       <!--sidebar  -->
    <div class="col-12 col-md sideRight">
        <app-ficha-sidebar 
          [workingInformation]="workingInformation">
        </app-ficha-sidebar>
    </div><!--/sidebar  -->
    </div>
  </div>
  
  <!--modal  -->
  <ng-template #content let-c="close" let-d="dismiss" >
      <div class="modal-header">
        <h4 class="modal-title">Solicitud de revisión</h4>
        <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form id="modalForm" (ngSubmit)="modalPost('/respuesta-gestor-discapacidad')" ngNativeValidate>
            <div class="form-group row">
                <label for="staticEmail" class="col-1 col-form-label">Para</label>
                <div class="col-sm-6">
                    <!--input type="text" class="form-control" id="inputPassword" placeholder=""-->
                    <ng-multiselect-dropdown 
                        [ngModelOptions]="{standalone: true}"
                        [placeholder]="placeholder"
                        [data]="dropdownList"
                        [(ngModel)]="selectedItems"
                        [settings]="dropdownSettings"
                    >
                    </ng-multiselect-dropdown>
                </div>
                <div class="col-sm-2">
                    <select name="prioridad" id="prioridad" class="custom-select">
                        <option selected> Prioridad</option>
                        <option value="1">Moderada</option>
                        <option value="2">Baja</option>
                        <option value="3">Alta</option>
                      </select>
                  </div>
                  <div class="col-sm-3">
                    <div class="input-group">
                        <input class="form-control" name="fecha_vencimiento" id="fecha_vencimiento" placeholder="Fecha vencimiento" type="date">
                      </div> 
                </div>
            </div>
            <div class="form-group row">
              <label for="asunto" class="col-1 col-form-label">Asunto</label>
              <div class="col-sm-11">
                <input type="text" class="form-control" name="asunto" id="asunto" placeholder="">
              </div>
            </div>
            <div class="form-row">
                <div class="col-sm-8">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" name="invitacion_ver" id="invitacion_ver" class="custom-control-input" id="customCheck5">
                        <label class="custom-control-label" for="customCheck5">
                          Invitar a ver <span class="font-weight-semi-bold">informe de discapacidad</span>
                        </label>
                      </div>
                </div>
                <div class="col-12 col-sm-4">
                    <p  (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">Previsualizar antecedentes 
                      <i class="material-icons align-middle">keyboard_arrow_down</i>
                    </p>
                </div>
                <div class="col-12">
                  <div class="previsualizar" [ngbCollapse]="isCollapsed">
                    <div class="card">
                      <div class="card-body">
                        You can collapse this card by clicking Toggle
                      </div>
                    </div>
                  </div>
                </div>
            
                
            </div>
            <div class="form-group row">
              <!--información requerida -->
              <div class="col-md-3">
                <p>Información requerida</p>
              </div>
              <div class="col-md-9">
                <input type="text" name="informacion_requerida" id="informacion_requerida" class="form-control" placeholder="">
              </div><!--/información requerida -->
            </div>

            <div class="form-group row">
              <div class="col-12">
                <textarea class="form-control" name="mensaje" id="mensaje" rows="6"></textarea>
               </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="file" name="file" lang="es">
                  <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark btnMobile" (click)="c('Close click')">
                Cancelar
              </button>
              <button type="submit" class="btn btn-success btnMobile">
                Enviar <i class="material-icons align-middle">send</i>
              </button>
            </div>
          </form>  
      </div>
      
    </ng-template><!--modal  -->