<div class="agendaWrap">
  <div class="row">
    <div class="col-6 text-left">
      <a href="javascript:history.back()">
        <button class="btn btn-outline-secondary" type="button">
          <i class="material-icons align-top">chevron_left</i> 
          Volver
        </button>
      </a>
    </div>
    <div class="col-6 text-right">
        <button class="btn btn-success" routerlink="/nueva-atencion" routerlinkactive="active" type="button" >
          <i class="material-icons align-top">add</i>
          Nuevo compromiso
        </button>
    </div>
  </div>

    <div class="row mt-4">
      <div class="col-12">
        <h4>Mi agenda</h4>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12">
        <h5>Hoy</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <!-- table -->
        <div class="table-responsive">
            <table class="table table-striped">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Fecha</th>
                  <th scope="col">Trabajador</th>
                  <th scope="col">Tipo de caso</th>
                  <th scope="col">Área de consulta</th>
                  <th scope="col">Motivo de consulta</th>
                  <th scope="col">Resumen del caso</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">9:00 - 9:30</th>
                  <td>
                    Marcelo Montero
                    <span>15.338.259-3</span>
                  </td>
                  <td>
                    <i class="material-icons rounded-circle icono coloresCaso verde">favorite_border</i>
                  </td>
                  <td>Discapacidad</td>
                  <td>Discapacidad</td>
                  <td class="text-truncate">Trabajador requiere adecuacion de su puesto de Trabajador</td>
                </tr>
                <tr>
                    <th scope="row">9:00 - 9:30</th>
                    <td>
                      Marcelo Montero
                      <span>15.338.259-3</span>
                    </td>
                    <td><i class="material-icons rounded-circle icono coloresCaso rojo">favorite_border</i></td>
                    <td>Discapacidad</td>
                    <td>Discapacidad</td>
                    <td class="text-truncate">Trabajador requiere adecuacion de su puesto de Trabajador</td>
                  </tr>
                  <tr>
                      <th scope="row">9:00 - 9:30</th>
                      <td>
                        Marcelo Montero
                        <span>15.338.259-3</span>
                      </td>
                      <td><i class="material-icons icono coloresDiscapcidad amarillo rounded-circle">accessible</i></td>
                      <td>Discapacidad</td>
                      <td>Discapacidad</td>
                      <td class="text-truncate">Trabajador requiere adecuacion de su puesto de Trabajador</td>
                    </tr>
                    <tr>
                        <th scope="row">9:00 - 9:30</th>
                        <td>
                          Marcelo Montero
                          <span>15.338.259-3</span>
                        </td>
                        <td><i class="material-icons icono coloresDiscapcidad cafe rounded-circle">accessible</i></td>
                        <td>Discapacidad</td>
                        <td>Discapacidad</td>
                        <td class="text-truncate">Trabajador requiere adecuacion de su puesto de Trabajador</td>
                      </tr>
                      <tr>
                          <th scope="row">9:00 - 9:30</th>
                      <td>
                        Marcelo Montero
                        <span>15.338.259-3</span>
                      </td>
                      <td><i class="material-icons icono coloresDiscapcidad azul rounded-circle">accessible</i></td>
                      <td>Discapacidad</td>
                      <td>Discapacidad</td>
                      <td class="text-truncate">Trabajador requiere adecuacion de su puesto de Trabajador</td>
                    </tr>
                  <tr>
                      <th scope="row">9:00 - 9:30</th>
                      <td>
                        Marcelo Montero
                        <span>15.338.259-3</span>
                      </td>
                      <td>  <i class="material-icons icono coloresDiscapcidad gris rounded-circle">accessible</i></td>
                      <td>Discapacidad</td>
                      <td>Discapacidad</td>
                      <td class="text-truncate">Trabajador requiere adecuacion de su puesto de Trabajador</td>
                    </tr>
                    <tr>
                        <th scope="row">9:00 - 9:30</th>
                        <td>
                          Marcelo Montero
                          <span>15.338.259-3</span>
                        </td>
                        <td><i class="material-icons rounded-circle icono coloresCaso amarillo">favorite_border</i></td>
                        <td>Discapacidad</td>
                        <td>Discapacidad</td>
                        <td class="text-truncate">Trabajador requiere adecuacion de su puesto de Trabajador</td>
                      </tr>
              </tbody>
            </table>
          </div><!-- /table -->
      </div>
    </div>

</div>