<div class="ficha">
        <h4 class="font-weight-bold">Ficha del trabajador</h4>
        <hr>
        <h5 class="mb-3">Información personal</h5>
        <div class="table-responsive-sm ">
            <table class="table borderless">
                <tbody>
                  <tr>
                    <td>
                        <span>Género</span>
                        <p *ngIf="workingInformation">{{workingInformation.professional.genre}}</p>
                    </td>
                    <td>
                        <span>Tel celular</span>
                        <p *ngIf="workingInformation">{{workingInformation.professional.phone_number ? workingInformation.professional.phone_number : "--"}}</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span>Fecha de nacimiento</span>
                      <p *ngIf="workingInformation">{{workingInformation.professional.birthdate ? workingInformation.professional.birthdate : "--"}}</p>
                    </td>
                    <td>
                        <span>Email</span>
                        <p *ngIf="workingInformation">{{workingInformation.professional.email ? workingInformation.professional.email : "--"}}</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <span>Previsión</span>
                        <p *ngIf="workingInformation">{{workingInformation.prevision ? workingInformation.prevision : "--"}}</p>
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
          <h5 class="mb-3">Cargas</h5>
          <div class="table-responsive-sm ">
            <table class="table borderless">
                <tbody>
                  <tr>
                    <td>
                        <span>Nombre</span>
                    </td>
                    <td>
                        <span>RUT</span>
                    </td>
                  </tr>
                  <tr *ngIf="workingInformation">
                        <ng-template ngFor let-burden [ngForOf]="workingInformation.burdens">
                            <td>
                                <p>{{burden.name}}</p>
                            </td>
                            <td>
                                <p>{{burden.rut}}</p>
                            </td>
                        </ng-template>
                    
                  </tr>
                  
                </tbody>
              </table>
          </div>
          <hr>
          <h5 class="mb-3">Información Laboral</h5>
          <div class="table-responsive-sm ">
            <table class="table borderless">
                <tbody>
                  <tr>
                    <td>
                        <span>Email</span>
                        <p *ngIf="workingInformation">{{workingInformation.email_office ? workingInformation.email_office : "--"}}</p>
                    </td>
                    <td>
                        <span>Departamento</span>
                        <p *ngIf="workingInformation">{{workingInformation.department ? workingInformation.email_office : "--"}}</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <span>Tel Oficina</span>
                        <p *ngIf="workingInformation">{{workingInformation.phone_office ? workingInformation.phone_office : "--"}}</p>
                    </td>
                    <td>
                        <span>Cargo</span>
                        <p *ngIf="workingInformation">{{workingInformation.position ? workingInformation.position : "--"}}</p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <span>Sucursal</span>
                    </td>
                    <td>
                        <span>Dirección Sucursal</span>
                    </td>
                  </tr>
                  <tr *ngIf="workingInformation">
                    <ng-template ngFor let-sub [ngForOf]="workingInformation.subsidiary">
                        <td>
                            <p>{{sub.name}}</p>
                        </td>
                        <td [innerHTML]="sub.address">
                            
                        </td>
                    </ng-template>
                  </tr>
                </tbody>
              </table>
          </div>
      </div>